/* Es CSS podemos aplicar estilos por la etiqueta, por clase o por id" */

/* Seleccion por etiqueta */

body {
    background-color: salmon;
}

h1 
{   color: blue;
    font-size: 40px;
}

a {
    color: rojo;
    font-style: italic;
    background-color: lightgreen;
}

/* Seleccion por Id */
#texto {
    color: red;
    font-size: 24px;
}