* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    font-size: 62.5%;
}

h1 {
    color: white;
    padding: 1rem;
    background-color: blue;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 5rem;
}


main {
    display: inline-block;
}

.left-side {
    display: inline-block;
    width: 23rem;
    background-color: blue;
}

#uno {
    padding-left: 4rem;
}

#dos {
    padding-left: 5rem;
}

#tres {
    padding-left: 6rem;
}

#cuatro {
    padding-left: 4rem;
}


.right-side {
    display: inline-block;
    padding-left: 40rem;
}

.box {
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    width: 21rem;
    height: 14rem;
    border-radius: 10px;
}

footer {
    padding: 1rem;
    color: white;
    background-color: blue;
    font-size: 2rem;
}