*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
html {
    font-size: 62.5%;
}

section{
    width: 30%;
    margin: 0 auto;
}
    
figure{
    background-color: slateblue;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
    
h2{
    background-color: red;
    text-align: center;
    padding: 1.3rem;
    width: 30%;
    border-radius: 4px;
    top: 1.5rem;
    position: relative;
    margin: 0 auto;
    font-size: 3rem;
}
    
p{
    background-color: skyblue;
    text-align:center;
    padding: 1.2rem;
    border-radius: 4px;
    margin: 0 auto;
    top: 1.5rem;
    position: relative;
    width: 90%;
}